# MySQL 数据库配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=pi_cube
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=pi_cube

# 支付宝配置
ALIPAY_APPID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
ALIPAY_REDIRECT_URI=https://pi.chemicaloop.com/api/alipay/callback
